body {
    margin: 0;
    color: #000;
    font: 1em source_sans_proregular, Arial, Helvetica, sans-serif !important;
    background: #fff;
}
a {transition: all .3s;}
button, input:focus {outline: none;}
.inner_container {min-height: auto;}
.inner_height {min-height: 530px;}
/* margin css */
.margbot_10 {margin-bottom: 10px !important;}
.margbot_20 {margin-bottom: 20px !important;}
.margbot_30 {margin-bottom: 30px !important;}
.margbot_40 {margin-bottom: 40px !important;}
.margtop_30 {margin-top: 30px !important;}
/*width css*/
.width_100 {width: 100% !important;}
/* Header */
.header-main {
    overflow: hidden;
    background: #fff;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    padding: 10px 0;
}
.logo {
    float: left;
    width: 100%;
}
.logo img {display: inline-block;}
.number {
    float: right;
    padding: 0;
}
.number a {
    color: #8a1b1e;
    font-size: 17px;
    line-height: 40px;
    font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
}
.number a strong {font-family: source_sans_proregular, Arial, Helvetica, sans-serif;}

/* Banner */
.banner-main {
    background: #fff url(../img/banner.jpg) no-repeat center top -74px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    background-size: cover;
}
.banner-main .banner-left h2 {
    font-size: 30px;
    margin: 0 0 15px;
    font-family: loved_by_the_kingregular, Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: 400;
}
.offer-main {
    padding: 20px 0; 
    margin: 40px 0; 
    border-radius: 4px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#891a1d+0,891a1d+20,761417+77,751417+100&0.5+0,0.5+100 */
background: -moz-linear-gradient(top, rgba(137,26,29,0.5) 0%, rgba(137,26,29,0.5) 20%, rgba(118,20,23,0.5) 77%, rgba(117,20,23,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(137,26,29,0.5) 0%,rgba(137,26,29,0.5) 20%,rgba(118,20,23,0.5) 77%,rgba(117,20,23,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(137,26,29,0.5) 0%,rgba(137,26,29,0.5) 20%,rgba(118,20,23,0.5) 77%,rgba(117,20,23,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80891a1d', endColorstr='#80751417',GradientType=0 ); /* IE6-9 */
}
.offer-main h1 {
    font-size: 28px;
    margin: 0 0 25px;
    font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 500;
    text-align: center;
}
.offer-cont .offer-circ {
    background: 0 0;
    border: 0;
    margin-bottom: 20px;
}
.offer-cont .offer-circ .outer-circ {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: rgba(0,0,0,.1);
    padding: 12px;
}
.offer-cont .offer-circ .outer-circ .inner-bevel {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background: linear-gradient(to bottom,#fdfdfd 0%,#d8d0ce 100%);
    box-shadow: 0 5px 10px 2px rgba(70,70,70,.2);
    padding: 8px;
}
.offer-cont .offer-circ .outer-circ .inner-bevel:hover {
    background: linear-gradient(to bottom,#fdfdfd 0%,#e9e5e4 100%);
}
.offer-cont .offer-circ .outer-circ .inner-bevel .second-bevel {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #ece8e7;
    padding: 10px 0 0;
}
.offer-cont .offer-circ .outer-circ .inner-bevel .second-bevel .offer-img {
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 52px;
}
.offer-cont .offer-circ .outer-circ .inner-bevel .second-bevel .title {
    font-family: 'Open Sans',sans-serif!important;
    width: 80%;
    font-size: 12px;
    color: #D92027;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    margin: 6px auto 0;
}
.offer-refinance {
    background-image: url(../img/tactile-refinance.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.offer-home {
    background-image: url(../img/tactile-home-loan.svg);
    background-size: 44%;
    background-repeat: no-repeat;
    background-position: center;
}
.offer-personal {
    background-image: url(../img/tactile-personal-icon.svg);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
}
.offer-home-equity {
    background-image: url(../img/tactile-home-equity.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.offer-auto {
    background-image: url(../img/tactile-auto.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.offer-business {
    background-image: url(../img/tactile-business-icon.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.disclosure {
    position: absolute;
    right: 30px;
    bottom: 12px;
    color: #D92027;
    font-size: 12px;
    text-decoration: none;
    text-align: right;
}
.disclosure a {
    font-weight: 700;
    color: #D92027;
}
/* Other Popular Products Section CSS */
.products-main {
    background: #fff;
    padding: 40px 0 10px;
    clear: both;
    text-align: center;
}
.products-main h1 {
    margin: 0 0 30px;
    font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
    font-size: 28px;
}
.prod-sec {
    display: inline-block;
    margin-bottom: 30px;
}
.prod-sec a {
    color: #d92027;
    text-decoration: none;
}
.prod-sec .prodicon {
    max-width: 120px;
    height: auto;
    margin: 0 auto;
}
.prod-sec a .fa {
    font-size: 40px;
    position: relative;
    top: 10px;
}
.prod-sec a .prodname {
    font-size: 15px;
    text-align: center;
    color: #8a1b1e;
    padding-top: 10px;
}
.prod-sec a .outerborder {
    /* background: url('../img/blue-ring_old.svg') no-repeat center; */
    display: inline-block;
    text-align: center;
    width: 120px;
    height: 120px;
    line-height: 116px;
    border: 7px solid #d92027;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
}
.prod-sec a .outerborder img {
    width: 40px;
    height: 40px;
    display: inline-block;
}
.prod-sec a .outerborder-120 {
    width: 120px;
    height: 120px;
    line-height: 110px;
}
/* Quicklinks Section CSS */
.quicklinks-main {
    background: #891A1D url('../img/bg-footer.png') 50% 100% no-repeat;
    padding: 40px 0;
    text-align: center;
}
.quicklinks-main h1 {
    font-size: 28px;
    margin: 0 0 10px;
    color: #fff;
    font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
}
.quicklinks-main h3 {
    font-size: 20px;
    margin: 0 0 30px;
    color: #fff;
    font-weight: 400;
    font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
}
.click-box {
    width: 100%;
    margin: 15px 0;
}
.click-box.effect-sadie {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: .3s;
    transition-property: transform;
    -webkit-box-shadow: 0px 1px 14px 0px rgba(117,20,23,1);
    -moz-box-shadow: 0px 1px 14px 0px rgba(117,20,23,1);
    box-shadow: 0px 1px 14px 0px rgba(117,20,23,1);
    padding: 30px;
    color: #333;
    background: #fff;
}
.click-box.effect-sadie:hover {
    transform: scale(1.1);
}
.click-box.effect-sadie .icon-ring, .click-box.effect-sadie p {
    opacity: 1;
    transition: opacity .35s,transform .35s;
}
.click-box.effect-sadie:hover .icon-ring {
    background-image: none;
    transform: translate3d(0,0,0);
}
.click-box.effect-sadie:hover i {
    fill: #8a1b1e;
    transform: translate3d(0,-50%,0) translate3d(0,-15px,0);
}
.click-box.effect-sadie:hover h5 {
    color: #333;
    transform: translate3d(0,-50%,0) translate3d(0,-50px,0);
}
.click-box.effect-sadie:hover p {
    opacity: 1;
    transform: translate3d(0,0,0);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: translateZ(0) scale(1,1);
    font-size: 14px;
}
.click-box .icon-ring {
    width: 75px;
    height: 75px;
    display: block;
    margin: 0 auto 20px;
    position: relative;
}
.icon-ring {
    min-width: 50px;
    min-height: 50px;
    background-image: url(../img/icon-color-ring.svg);
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}
.click-box.effect-sadie .icon-ring img {
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    display: inline-block;
}
.click-box.effect-sadie:hover .icon-ring img {opacity: 1; top: -15px;}
.click-box i {
    top: 56px;
    font-size: 35px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.click-box.effect-sadie h5 {
    transition: transform .35s,color .35s;
    transform: translate3d(0,0,0);
    color: #8a1b1e;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.click-box.effect-sadie p {
    line-height: 1.35em;
    color: #666;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px 20px;
    width: 100%;
    opacity: 0;
    transform: translate3d(0,10px,0);
}
.blue {
    background: 0 0;
    color: #8a1b1e!important;
    fill: #8a1b1e;
}
/* Footer CSS */
.footer-main {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    background: #751417;
}
.footer-main .sub-nav {
    margin: 0;
    padding: 12px 0 8px;
    list-style: none;
    overflow: hidden;
    width: 100%;
    text-align: center;
    background: #fada7f;
    font: 12px/12px source_sans_proregular, Arial, Helvetica, sans-serif;
    color: #bd5a03;
}
.footer-main .sub-nav li {
    display: inline-block;
    background: url(../img/separator-03.gif) no-repeat 0 55%;
    padding: 0 6px;
}
.footer-main .sub-nav li a {
    color: #bd5a03;
    line-height: 20px;
}
.footer-main .panel {
    margin: 0 auto;
    padding: 8px 0 0;
    background: transparent;
    box-shadow: none;
}
.panel .logo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.panel .logo-list li {
    display: inline-block;
    margin: 0 0 0 21px;
    vertical-align: middle;
}
.panel .logo-list li:first-child {
    margin: 0;
}
.panel .logo-list li a {
    display: block;
}
.block-frame {
    float: right;
    color: #cdf6f3;
    padding: 26px 0 0;
    margin: 0 -9px 0 0;
    font: 10px/13px source_sans_proregular, Arial, Helvetica, sans-serif;
}
.panel .block-frame .logo-list {
    float: right;
    padding: 0 3px 0 0;
    margin: -5px 0 0;
    list-style: none;
}
.panel .logo-list li {
    display: inline-block;
    margin: 0 0 0 12px;
    vertical-align: middle;
}
.footer-main p {
    margin: 0;
    color: #cdf6f3;
    line-height: 13px;
}
/* Section main css */
.main-section {
    background: #f2f2f2;
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
}
/* Form CSS */
.form-main {
    padding: 60px 0 60px;
    position: relative;
    text-align: center; 
    margin: 0 auto;
}
.form-main h1 {
    float: left;
    font-family: loved_by_the_kingregular, Arial, Helvetica, sans-serif;
}
.form-main  .disclosure-sec {
    float: right;
    color: #000;
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
}
.form-main .control-label {
    padding: 1% 0;
    display: block;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
}
.form-main h2 {
    padding: 0;
    margin: 0 0 10px;
    display: block;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-family: loved_by_the_kingregular, Arial, Helvetica, sans-serif;
}
.radio {
    margin-top: 0;
    text-align: center;
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.radio .button {
    border-radius: 2px;
    width: 320px;
    display: inline-block;
    padding: 18px;
    color: #fff;
    line-height: 20px;
    min-height: 20px;
    margin-bottom: 0;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    border: 0 none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d71a21+0,d31a21+16,c21a20+35,951b1e+76,8b1b1e+90,8a1b1e+100 */
background: rgb(215,26,33); /* Old browsers */
background: -moz-linear-gradient(top, rgba(215,26,33,1) 0%, rgba(211,26,33,1) 16%, rgba(194,26,32,1) 35%, rgba(149,27,30,1) 76%, rgba(139,27,30,1) 90%, rgba(138,27,30,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(215,26,33,1) 0%,rgba(211,26,33,1) 16%,rgba(194,26,32,1) 35%,rgba(149,27,30,1) 76%,rgba(139,27,30,1) 90%,rgba(138,27,30,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(215,26,33,1) 0%,rgba(211,26,33,1) 16%,rgba(194,26,32,1) 35%,rgba(149,27,30,1) 76%,rgba(139,27,30,1) 90%,rgba(138,27,30,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d71a21', endColorstr='#8a1b1e',GradientType=0 ); /* IE6-9 */
}
.radio .button:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8a1b1e+0,8e1b1e+16,9f1b1f+35,cc1a21+76,d61a21+90,d71a21+100 */
background: rgb(138,27,30); /* Old browsers */
background: -moz-linear-gradient(top, rgba(138,27,30,1) 0%, rgba(142,27,30,1) 16%, rgba(159,27,31,1) 35%, rgba(204,26,33,1) 76%, rgba(214,26,33,1) 90%, rgba(215,26,33,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(138,27,30,1) 0%,rgba(142,27,30,1) 16%,rgba(159,27,31,1) 35%,rgba(204,26,33,1) 76%,rgba(214,26,33,1) 90%,rgba(215,26,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(138,27,30,1) 0%,rgba(142,27,30,1) 16%,rgba(159,27,31,1) 35%,rgba(204,26,33,1) 76%,rgba(214,26,33,1) 90%,rgba(215,26,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a1b1e', endColorstr='#d71a21',GradientType=0 ); /* IE6-9 */
}
.status {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbeaba+0,fbeaba+18,fbe9b5+26,fadb85+75,fada80+84,fada80+100 */
    background: #fbeaba !important; /* Old browsers */
    background: -moz-linear-gradient(top, #fbeaba 0%, #fbeaba 18%, #fbe9b5 26%, #fadb85 75%, #fada80 84%, #fada80 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fbeaba 0%,#fbeaba 18%,#fbe9b5 26%,#fadb85 75%,#fada80 84%,#fada80 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fbeaba 0%,#fbeaba 18%,#fbe9b5 26%,#fadb85 75%,#fada80 84%,#fada80 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbeaba', endColorstr='#fada80',GradientType=0 ) !important; /* IE6-9 */
    color: #000 !important;
}
.status:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fada80+0,fada80+16,fadb85+25,fbe9b5+74,fbeaba+82,fbeaba+100 */
    background: #fada80 !important; /* Old browsers */
    background: -moz-linear-gradient(top, #fada80 0%, #fada80 16%, #fadb85 25%, #fbe9b5 74%, #fbeaba 82%, #fbeaba 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fada80 0%,#fada80 16%,#fadb85 25%,#fbe9b5 74%,#fbeaba 82%,#fbeaba 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fada80 0%,#fada80 16%,#fadb85 25%,#fbe9b5 74%,#fbeaba 82%,#fbeaba 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fada80', endColorstr='#fbeaba',GradientType=0 ) !important; /* IE6-9 */
    color: #000 !important;
}
.radio .button_back {
    border-radius: 2px;
    width: 320px;
    display: inline-block;
    padding: 18px;
    color: #fff;
    line-height: 20px;
    min-height: 20px;
    margin-bottom: 0;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    border: 0 none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe8215+0,fe8215+18,fa7f14+25,c45e05+74,bd5a03+84,bd5a03+100 */
    background: #fe8215; /* Old browsers */
    background: -moz-linear-gradient(top, #fe8215 0%, #fe8215 18%, #fa7f14 25%, #c45e05 74%, #bd5a03 84%, #bd5a03 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fe8215 0%,#fe8215 18%,#fa7f14 25%,#c45e05 74%,#bd5a03 84%,#bd5a03 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fe8215 0%,#fe8215 18%,#fa7f14 25%,#c45e05 74%,#bd5a03 84%,#bd5a03 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8215', endColorstr='#bd5a03',GradientType=0 ); /* IE6-9 */
}
.radio .button_back:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bd5a03+0,bd5a03+16,c45e05+26,fa7f14+75,fe8215+82,fe8215+100 */
    background: #bd5a03; /* Old browsers */
    background: -moz-linear-gradient(top, #bd5a03 0%, #bd5a03 16%, #c45e05 26%, #fa7f14 75%, #fe8215 82%, #fe8215 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #bd5a03 0%,#bd5a03 16%,#c45e05 26%,#fa7f14 75%,#fe8215 82%,#fe8215 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #bd5a03 0%,#bd5a03 16%,#c45e05 26%,#fa7f14 75%,#fe8215 82%,#fe8215 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd5a03', endColorstr='#fe8215',GradientType=0 ); /* IE6-9 */
}
.button_back .sprites.continueIcon {
    float: left;
    width: 16px;
    height: 23px;
}
.button_back .continueIcon {
    background-position: 0 -58px !important;
    transform: rotate(180deg);
}
.status .continueIcon {
    background-position: 0 -58px !important;
}
.radio .button .label-text {
    display: inline-block;
    width: 85%;
}
.sprites.continueIcon {
    float: right;
    width: 16px;
    height: 23px;
}
.continueIcon {
    background-position: 0 -83px;
}
.sprites {
    background-image: url(../img/sprites-mobile.png);
    background-color: transparent;
    background-repeat: no-repeat;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: -20px;
}
.radio input {
    display: none;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
.form-main input.form-control {
    font-size: 20px;
    text-align: center;
    height: 58px;
    width: 360px;
    margin: 0 auto;
}
.form-main select.form-control {
    font-size: 20px;
    text-align: center;
    height: 58px;
    margin: 0 auto;
    width: 360px;
}
.subtext {
    width: 550px;
    font-size: 13px;
    color: #707070;
    text-align: center;
    margin: 0 auto 20px;
    font-family: 'Open Sans',sans-serif;
}
/*custom checkbox */
.checkbox-sec {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-sec input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkbox-sec:hover input ~ .checkmark {
    background-color: transparent;
    border: 1px solid #31ada5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-sec input:checked ~ .checkmark {
    background-color: #31ada5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-sec input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-sec .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}