:root {
  --colo1: #03349f;
  --colo2: #005cb1;
  --colo3: #0597e7;
}
body {
  margin: 0;
  color: #000;
  font: 1em source_sans_proregular, Arial, Helvetica, sans-serif !important;
  background: #fff;
}
a {
  transition: all 0.3s;
}
button,
input:focus {
  outline: none;
}
.inner_container {
  min-height: auto;
}
.inner_height {
  min-height: 566px;
}
button,
input:focus {
  outline: none;
}
.marg_5 {
  margin: 5px 0 !important;
}
.margbot_10 {
  margin-bottom: 10px !important;
}
.margbot_20 {
  margin-bottom: 20px !important;
}
.margbot_30 {
  margin-bottom: 30px !important;
}
.margbot_40 {
  margin-bottom: 40px !important;
}
.margtop_30 {
  margin-top: 30px !important;
}
.width_100 {
  width: 100% !important;
}
.border_none {
  border: 0 none !important;
}
.bg {
  background: #f5f5f5;
  padding: 10px 0;
  border: 1px solid #dedede;
  border-radius: 10px;
}
.font_14 {
  font-size: 14px !important;
}
.header-main {
  overflow: hidden;
  background: var(--colo1);
  margin: 0 auto;
  position: relative;
  z-index: 10;
  padding: 5px 0;
}
.logo {
  width: 60%;
  margin: 40px 0;
}
.logo img {
  display: block;
}
.number {
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 1px;
  font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
}
.number a {
  color: #fff;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 1px;
  font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
}
.number a:hover {
  color: #ff5000;
}
.number a strong {
  font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
}
.tagline {
  background: var(--colo1);
  padding: 10px 0;
  color: #fff;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 1px;
  font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
  text-align: center;
}
.banner-main {
  background: #fff url(../img/mccu_banner.jpg) no-repeat center;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background-size: cover;
  min-height: 600px;
}
.banner-main .banner-left h2 {
  font-size: 30px;
  margin: 0 0 15px;
  font-family: loved_by_the_kingregular, Arial, Helvetica, sans-serif;
  color: #000;
  font-weight: 400;
}
.offer-main {
  padding: 20px 0;
  margin: 80px 0;
  border-radius: 4px;
  background: transparent;
  text-align: center;
}
.offer-main h1 {
  font-size: 28px;
  margin: 0 0 25px;
  font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
  color: var(--colo1);
  font-weight: 500;
  text-align: center;
}
.offer-cont {
  display: inline-block;
}
.offer-cont .text-center {
  float: none;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}
.offer-cont .offer-circ {
  background: 0 0;
  border: 0;
  margin-bottom: 20px;
}
.offer-cont .offer-circ .outer-circ {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: rgba(45, 90, 158, 0.726);
  padding: 12px;
}
.offer-cont .offer-circ .outer-circ .inner-bevel {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #fdfdfd 0%, #d8d0ce 100%);
  box-shadow: 0 5px 10px 2px rgba(70, 70, 70, 0.2);
  padding: 8px;
}
.offer-cont .offer-circ .outer-circ .inner-bevel:hover {
  background: linear-gradient(to bottom, #fdfdfd 0%, #e9e5e4 100%);
}
.offer-cont .offer-circ .outer-circ .inner-bevel .second-bevel {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ece8e7;
  padding: 10px 0 0;
}
.offer-cont .offer-circ .outer-circ .inner-bevel .second-bevel .offer-img {
  display: block;
  text-align: center;
  margin: 0 auto;
  height: 52px;
  filter: brightness(0);
  opacity: 0.7;
}
.offer-cont .offer-circ .outer-circ .inner-bevel .second-bevel .title {
  font-family: "Open Sans", sans-serif !important;
  width: 80%;
  font-size: 12px;
  color: #4e4e4e;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin: 6px auto 0;
}
.offer-refinance {
  background-image: url(../img/tactile-refinance.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.offer-home {
  background-image: url(../img/tactile-home-loan.svg);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-home-loan {
  background-image: url(../img/tactile-home-loan.svg);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-loan-calc {
  background-image: url(../img/loan-calculator.svg);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-mortgage-calc {
  background-image: url(../img/mortgage-calc.svg);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-recreational{
  background-image: url(../img/auto-ref.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-home-equity {
  background-image: url(../img/tactile-home-equity.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.offer-auto {
  background-image: url(../img/tactile-auto.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-business {
  background-image: url(../img/tactile-business-icon.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-personal {
  background-image: url(../img/tactile-personal-icon.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.disclosure {
  position: absolute;
  right: 30px;
  bottom: 12px;
  color: var(--colo1);
  font-size: 12px;
  text-decoration: none;
  text-align: right;
}
.disclosure a {
  font-weight: 700;
  color: var(--colo1);
}
.calculator-main {
  background: #fff;
  padding: 40px 0 10px;
  clear: both;
  text-align: center;
}
.calculator-main h1 {
  margin: 0 0 30px;
  font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
  font-size: 28px;
}
.products-main {
  background: #fff;
  padding: 40px 0 10px;
  clear: both;
  text-align: center;
  display: none;
}
.products-main h1 {
  margin: 0 0 30px;
  font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
  font-size: 28px;
}
.prod-sec {
  display: inline-block;
  margin-bottom: 30px;
}
.prod-sec a {
  color: #ff5000;
  text-decoration: none;
}
.prod-sec .prodicon {
  max-width: 120px;
  height: auto;
  margin: 0 auto;
}
.prod-sec a .fa {
  font-size: 40px;
  position: relative;
  top: 10px;
  color: var(--colo1);
}
.prod-sec a .prodname {
  font-size: 15px;
  text-align: center;
  color: var(--colo1);
  padding-top: 10px;
}
.prod-sec a .outerborder {
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 120px;
  line-height: 116px;
  border: 7px solid var(--colo1);
  border-radius: 100px;
}
.prod-sec a .outerborder img {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.prod-sec a .outerborder-120 {
  width: 120px;
  height: 120px;
  line-height: 110px;
}
.quicklinks-main {
  background: var(--colo1);
  padding: 40px 0;
  text-align: center;
  display: none;
}
.quicklinks-main h1 {
  font-size: 28px;
  margin: 0 0 10px;
  color: #fff;
  font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
}
.quicklinks-main h3 {
  font-size: 20px;
  margin: 0 0 30px;
  color: #fff;
  font-weight: 400;
  font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
}
.click-box {
  width: 100%;
  margin: 15px 0;
}
.click-box.effect-sadie {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
  box-shadow: 0px 1px 14px 0px rgba(117, 20, 23, 1);
  padding: 30px;
  color: #333;
  background: #fff;
}
.click-box.effect-sadie:hover {
  transform: scale(1.1);
}
.click-box.effect-sadie .icon-ring,
.click-box.effect-sadie p {
  opacity: 1;
  transition: opacity 0.35s, transform 0.35s;
}
.click-box.effect-sadie:hover .icon-ring {
  background-image: none;
  transform: translate3d(0, 0, 0);
}
.click-box.effect-sadie:hover i {
  fill: #8a1b1e;
  transform: translate3d(0, -50%, 0) translate3d(0, -15px, 0);
}
.click-box.effect-sadie:hover h5 {
  color: var(--colo1);
  transform: translate3d(0, -50%, 0) translate3d(0, -50px, 0);
}
.click-box.effect-sadie:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  font-size: 14px;
}
.click-box .icon-ring {
  width: 75px;
  height: 75px;
  display: block;
  margin: 0 auto 20px;
  position: relative;
}
.icon-ring {
  min-width: 50px;
  min-height: 50px;
  background-image: url(../img/icon-color-ring.svg);
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}
.click-box.effect-sadie .icon-ring img {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 15px;
  display: inline-block;
}
.click-box.effect-sadie:hover .icon-ring img {
  opacity: 1;
  top: -15px;
}
.click-box i {
  top: 56px;
  font-size: 35px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.click-box.effect-sadie h5 {
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0, 0, 0);
  color: var(--colo1);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.click-box.effect-sadie p {
  line-height: 1.35em;
  color: #666;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px 20px;
  width: 100%;
  opacity: 0;
  transform: translate3d(0, 10px, 0);
}
.blue {
  background: 0 0;
  color: var(--colo1) !important;
  fill: var(--colo1);
}
.footer-main {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  color: #fff;
  background: var(--colo1);
}
.footer-main .sub-nav {
  margin: 0;
  padding: 12px 0 8px;
  list-style: none;
  overflow: hidden;
  width: 100%;
  text-align: center;
  background: #fada7f;
  font: 12px/12px source_sans_proregular, Arial, Helvetica, sans-serif;
  color: #bd5a03;
}
.footer-main .sub-nav li {
  display: inline-block;
  background: url(../img/separator-03.gif) no-repeat 0 55%;
  padding: 0 6px;
}
.footer-main .sub-nav li a {
  color: #bd5a03;
  line-height: 20px;
}
.footer-main .panel {
  margin: 0 auto;
  padding: 8px 0 0;
  background: transparent;
  box-shadow: none;
}
.panel .logo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.panel .logo-list li {
  display: inline-block;
  margin: 0 0 0 21px;
  vertical-align: middle;
}
.panel .logo-list li:first-child {
  margin: 0;
}
.panel .logo-list li a {
  display: block;
}
.block-frame {
  float: right;
  color: #cdf6f3;
  padding: 26px 0 0;
  margin: 0 -9px 0 0;
  font: 10px/13px source_sans_proregular, Arial, Helvetica, sans-serif;
}
.panel .block-frame .logo-list {
  float: right;
  padding: 0 3px 0 0;
  margin: -5px 0 0;
  list-style: none;
}
.panel .logo-list li {
  display: inline-block;
  margin: 0 0 0 12px;
  vertical-align: middle;
}
.footer-main p {
  margin: 0;
  color: #cdf6f3;
  line-height: 13px;
}
.main-section {
  background: #f2f2f2;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 144px);
  display: flex;
  align-items: center;
}
#container > .row {
  display: flex;
  align-items: center;
}
.form-main {
  padding: 60px 0 60px;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.form-main h1 {
  float: left;
  font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
  font-size: 28px;
  margin-bottom: 30px;
}
.form-main .disclosure-sec {
  float: right;
  color: #000;
  margin-top: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
}
.form-main .control-label {
  padding: 1% 0;
  display: block;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
}
.form-main h2 {
  padding: 0;
  margin: 0 0 10px;
  display: block;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-family: loved_by_the_kingregular, Arial, Helvetica, sans-serif;
}
.radio {
  margin-top: 0;
  text-align: center;
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.radio .text {
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  color: #000;
  display: block;
}
.radio .text_current {
  color: var(--colo3) !important;
}
.radio .button {
  border-radius: 0;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  color: #fff;
  line-height: 20px;
  min-height: 20px;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  border: 0;
  transition: all 0.3s;
  background: var(--colo1);
  border: 2px solid var(--colo1);
}
.radio .button:hover {
  background: var(--colo1);
}
.radio .button.status {
  background: var(--colo1);
}
.radio .button_back {
  border-radius: 2px;
  width: 320px;
  display: inline-block;
  padding: 18px;
  color: #fff;
  line-height: 20px;
  min-height: 20px;
  margin-bottom: 0;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  border: 0 none;
  background: #fe8215;
  background: -moz-linear-gradient(top, #fe8215 0%, #fe8215 18%, #fa7f14 25%, #c45e05 74%, #bd5a03 84%, #bd5a03 100%);
  background: -webkit-linear-gradient(top, #fe8215 0%, #fe8215 18%, #fa7f14 25%, #c45e05 74%, #bd5a03 84%, #bd5a03 100%);
  background: linear-gradient(to bottom, #fe8215 0%, #fe8215 18%, #fa7f14 25%, #c45e05 74%, #bd5a03 84%, #bd5a03 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8215', endColorstr='#bd5a03',GradientType=0 );
}
.radio .button_back:hover {
  background: #bd5a03;
  background: -moz-linear-gradient(top, #bd5a03 0%, #bd5a03 16%, #c45e05 26%, #fa7f14 75%, #fe8215 82%, #fe8215 100%);
  background: -webkit-linear-gradient(top, #bd5a03 0%, #bd5a03 16%, #c45e05 26%, #fa7f14 75%, #fe8215 82%, #fe8215 100%);
  background: linear-gradient(to bottom, #bd5a03 0%, #bd5a03 16%, #c45e05 26%, #fa7f14 75%, #fe8215 82%, #fe8215 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd5a03', endColorstr='#fe8215',GradientType=0 );
}
.radio .button_payment {
  background: var(--colo1);
  font-size: 20px !important;
  text-align: center;
  justify-content: center;
}
.radio .button_payment_current {
  background: var(--colo3) !important;
}
.radio .button_payment:hover {
  background: var(--colo1);
}
.button_back .sprites.continueIcon {
  float: left;
  width: 16px;
  height: 23px;
}
.radio .button .label-text {
  text-align: left;
}
.sprites.continueIcon {
  background: url("../img/1665608.png") no-repeat 50% 50% / contain;
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
  min-width: 20px;
}
.continueIcon {
  background-position: 0 -83px;
}
.sprites {
  background-image: url(../img/sprites-mobile.png);
  background-color: transparent;
  background-repeat: no-repeat;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
}
.radio input {
  display: none;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
.form-main input.form-control {
  font-size: 20px;
  text-align: center;
  height: 58px;
  width: 360px;
  margin: 0 auto 2px;
  border-radius: 0;
}
.form-main select.form-control {
  font-size: 20px;
  text-align: center;
  height: 58px;
  margin: 0 auto;
  width: 100%;
  max-width: 360px;
}
.form-main .form-control-small {
  font-size: 14px !important;
  font-weight: bold;
}
.subtext {
  width: 550px;
  font-size: 13px;
  color: #707070;
  text-align: center;
  margin: 0 auto 20px;
  font-family: "Open Sans", sans-serif;
}
.checkbox-sec {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 30px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-sec input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
}
.checkbox-sec:hover input ~ .checkmark {
  background-color: transparent;
  border: 1px solid #31ada5;
  border-radius: 4px;
}
.checkbox-sec input:checked ~ .checkmark {
  background-color: #31ada5;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-sec input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-sec .checkmark:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.slider-box {
  width: 380px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.top-value {
  color: #000;
  font-size: 18px;
}
.min-value {
  position: absolute;
  left: 0px;
  bottom: -30px;
  font-size: 18px;
}
.max-value {
  position: absolute;
  right: 0px;
  bottom: -30px;
  font-size: 18px;
}
.radio-btn-sect {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 6px;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #aaa;
  border-radius: 50%;
}
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.radio-container input:checked ~ .checkmark {
  background: var(--colo1);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radio-container input:checked ~ .checkmark:after {
  display: block;
}
.radio-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}
.width_auto {
  width: auto !important;
}
.bg .radio + .radio {
  margin-top: 0px !important;
}
.bg .radio-container {
  display: inline-block;
  position: relative;
  padding-left: 0px;
  padding-top: 30px;
  margin-left: 75px;
  width: 55%;
  margin-bottom: 12px;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-main {
  position: relative;
}
.radio-main .line_bg {
  position: absolute;
  width: 69%;
  height: 10px;
  background: #ddd;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  top: 8px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}
.form-main .text-head {
  float: none;
  font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
}
.offer-purchase_house {
  background-image: url(../img/purchase_house.png);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-refinance_house {
  background-image: url(../img/refinance_house.png);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-home_equity_house {
  background-image: url(../img/home_equity_house.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-reverse_mtg_house {
  background-image: url(../img/reverse_mtg_house.png);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-townhouse {
  background-image: url(../img/townhouse.png);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-condminium {
  background-image: url(../img/condo.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-multi_family_home {
  background-image: url(../img/duplex.png);
  background-size: 72%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-mobile_home {
  background-image: url(../img/mobile_home.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.selected-circ .inner-bevel {
  background: #7bc043 !important;
}
.selected-circ .inner-bevel:hover {
  background: #7bc043 !important;
}
.selected-circ .inner-bevel .second-bevel {
  background: #7bc043 !important;
}
.selected {
  background-image: url(../img/white_yes_check.png) !important;
  background-size: 44% !important;
  background-repeat: no-repeat;
  background-position: center;
}
.selected-circ .inner-bevel .second-bevel .title {
  color: #fff !important;
}
.offer-primary_home {
  background-image: url(../img/primary_home.png);
  background-size: 24%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-secondary_home {
  background-image: url(../img/secondary_home.png);
  background-size: 56%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-rental_property {
  background-image: url(../img/rental_property.png);
  background-size: 28%;
  background-repeat: no-repeat;
  background-position: center;
}
.score .offer-cont .offer-circ .outer-circ .inner-bevel .second-bevel .title {
  font-family: "Open Sans", sans-serif !important;
  width: 80%;
  font-size: 14px;
  color: #4e4e4e;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin: 18px auto 0;
}
.offer-excellent_credit {
  background-image: url(../img/excellent_credit.png);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-good_credit {
  background-image: url(../img/good_credit.png);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-fair_credit {
  background-image: url(../img/fair_credit.png);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-poor_credit {
  background-image: url(../img/poor_credit.png);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-yes_check {
  background-image: url(../img/yes_check.png);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-no_slash {
  background-image: url(../img/no_slash.png);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}
.calc-main {
  padding: 60px 0 60px;
  position: relative;
  margin: 0 auto;
}
.calc-main h1 {
  text-align: center;
  font-size: 28px;
  margin: 10px 0 20px;
  font-family: source_sans_proregular, Arial, Helvetica, sans-serif;
  color: #000;
  font-weight: 500;
}
.top-head {
  background: var(--colo1);
  padding: 10px;
  color: #fff;
  font-size: 18px;
  text-align: left;
}
.calc-main table {
  width: 100%;
}
.calc-main table {
  border: 0 none;
}
.calc-main table tr td {
  font-size: 13px;
  border: 1px solid #ccc;
}
.white-box {
  background: #fff;
  padding: 10px;
  border: 1px solid #e3e3e3;
  margin: 15px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.white-box label {
  font-size: 15px;
  display: block;
}
.white-box .input {
  background: #fff;
  border: 0 none;
  width: 100%;
  padding: 6px 35px 6px 0;
  font-size: 14px;
  color: #a0a0a0;
}
.white-box .value-sec {
  position: absolute;
  right: 10px;
  bottom: 18px;
  vertical-align: middle;
  font-size: 14px;
  color: #000;
}
.chk-box {
  padding: 10px 0;
  margin: 15px 0;
}
.chk-box label {
  font-size: 15px;
  display: block;
}
.chk-box .chk-input {
  color: #a0a0a0;
}
.chk-box .value-sec {
  vertical-align: bottom;
  font-size: 14px;
  color: #000;
}
.btn-calc {
  border-radius: 2px;
  width: 100%;
  display: inline-block;
  padding: 18px;
  color: #fff;
  line-height: 20px;
  min-height: 20px;
  margin-bottom: 0;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  border: 2px solid var(--colo1);
  background: var(--colo1);
}
.btn-calc:hover {
  background: var(--colo1);
}
.cont-box {
  padding: 10px 0;
  border-bottom: 1px dashed #e3e3e3;
  margin: 0;
  font-size: 14px;
  color: #a0a0a0;
}
.cont-box:last-child {
  border-bottom: 1px solid #e3e3e3;
}
.cont-box label {
  font-size: 15px;
  display: inline-block;
  text-align: left;
  float: left;
  margin: 0;
  line-height: 22px;
}
.cont-box .cont {
  background: transparent;
  border: 0 none;
  display: inline-block;
  font-size: 14px;
  text-align: right;
  color: #a0a0a0;
  float: right;
}
.total {
  padding: 10px 0;
  border-bottom: 1px dashed #e3e3e3;
  margin: 0 0 20px;
  font-size: 16px;
  color: #333;
}
.total label {
  font-size: 16px;
  display: inline-block;
  text-align: left;
  float: left;
  margin: 0;
  line-height: 24px;
}
.total .cont {
  background: transparent;
  border: 0 none;
  display: inline-block;
  font-size: 16px;
  text-align: right;
  font-weight: bold;
  color: #333;
  float: right;
}
.formula-sec {
  background: #ddd;
  padding: 10px;
  color: var(--colo1);
  font-size: 16px;
  line-height: 22px;
  border-radius: 5px;
  text-align: left;
}
.formula-inner {
  border-bottom: 1px dashed var(--colo3);
  padding: 0 0 10px;
  margin: 0 0 10px;
}
.formula-inner:last-child {
  border-bottom: 0 none;
  padding: 0;
  margin: 0;
}
.formula-inner span {
  font-size: 24px;
  color: var(--colo3);
}
.formula-inner a {
  font-weight: bold;
  text-decoration: underline;
  color: var(--colo3);
}
.formula-inner-head {
  border-bottom: 1px solid var(--colo3);
  padding: 10px 0 5px;
  margin: 10px 0 10px;
}
.value-box {
  background: rgba(197, 207, 234, 0.6);
  padding: 10px;
  color: #52618a;
  font-size: 16px;
  line-height: 22px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-align: left;
}
.value-inner {
  border-bottom: 1px dashed var(--colo3);
  padding: 0 0 5px;
  margin: 0 0 5px;
}
.value-inner .value {
  font-size: 14px;
  color: var(--colo3);
}
