@media only screen and (max-width:509px){ 
    .logo {text-align: center;}
    .number {
        text-align: center;
    }
    .number a {font-size: 14px;}
    .banner-main {background: #feffff url(../img/bg-line.png) no-repeat 10% -46px; padding-top: 30px; padding-bottom: 30px;}
    .banner-main .banner-left {margin: 0 auto; text-align: center;}
    .banner-main .banner-left h1 {font-size: 28px; margin: 0 0 15px;}
    .banner-main .banner-left h2 {font-size: 22px;}
    .offer-main {padding-top: 20px;}
    .offer-cont {text-align: center;}
    .quicklinks-main {padding: 20px 0;}
    .quicklinks-main h1 {font-size: 24px;}
    .quicklinks-main h3 {font-size: 18px;}
    .footer-main .sub-nav li {display: inline;}
    .panel .logo-list {text-align: center;}
    .footer-main {padding: 10px; text-align: center;}
    .panel .block-frame .logo-list {float: none; margin: 0; padding: 0;}
    .main-section {background: #feffff url(../img/bg-line.png) no-repeat 10% -46px; padding: 10px 0 0;}
    .form-main {padding: 0 0 110px;}
    .form-main .control-label {font-size: 22px;}
    .form-main h2 {font-size: 20px;}
    .subtext {width: 100%;}
}
@media only screen and (max-width:480px){ 
    .form-main h1 {
        float: none;
        text-align: center;
    }
    .form-main .disclosure-sec {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .radio .button {
        width: 100%;
        padding: 12px;
        line-height: 20px;
        min-height: 20px;
        font-size: 18px;
    }
    .radio .button_back {
        width: 100%;
        padding: 12px;
        line-height: 20px;
        min-height: 20px;
        font-size: 18px;
    }
    .checkbox-sec {font-size: 15px;}
    .form-main input.form-control {width: 100%;}
    .inner_height {min-height:574px;}
}
@media only screen and (min-width:510px) and (max-width:767px) { 
    .logo {width: 65%;}
    .number a {font-size: 18px;}
    .banner-main {
        background: #feffff url(../img/bg-line.png) no-repeat 97% -4px;
        padding-top: 35px;
        padding-bottom: 30px;
        margin: 0;
    }
    .form-main {
        padding: 0 0 110px;
    }
    .form-main .disclosure-sec {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .banner-main .banner-left {margin: 0 auto; text-align: center;}
    .offer-main {padding-top: 20px;}
    .offer-cont {text-align: center;}
    .quicklinks-main {padding: 20px 0;}
    .footer-main {padding: 10px; text-align: center;}
    .main-section {
        background: #feffff url(../img/bg-line.png) no-repeat 97% -4px;
        padding: 0;
        margin: 0;
    }
    .subtext {width: 100%;}
}
@media only screen and (min-width:768px) and (max-width:1023px) { 
    .inner_container {min-height: 823px;}
    .banner-main .banner-left h1 {font-size: 30px;}
    .banner-main .banner-left h2 {font-size: 26px;}
    .quicklinks-main {padding: 20px 0;}
    .quicklinks-main h1 {font-size: 24px;}
    .quicklinks-main h3 {font-size: 18px;}
    .inner_height {min-height:823px;}
    .form-main .disclosure-sec {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
@media only screen and (min-width:1024px) and (max-width:1024px) { 
    .inner_container {min-height: 570px;}
    .inner_height {min-height:570px;}
    .form-main .disclosure-sec {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
@media only screen and (max-width:411px){ 
    .inner_height {min-height:662px;}
}
@media only screen and (min-width:375px) and (max-width:375px){
    .inner_height {min-height:500px;}
}
@media only screen and (min-width:360px) and (max-width:360px){ 
    .inner_height {min-height:476px;}
}
@media only screen and (max-width:320px){ 
    .inner_height {min-height:400px;}
}
@media only screen and (min-width: 812px) and (max-width: 823px) {
    .inner_height {
        min-height: auto;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1051px;
    }
}
